@import "./tokens.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000508;
  color: #d1f3fd;
  font-family: Electrolize, sans-serif;
  user-select: none;
}

button,
input {
  font-family: inherit;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

a {
  color: #42cbf8;
  text-decoration: none;
}
